:root{
    --blue-color: #0071e3;
    --blue-outline: #43a1ff;
    --gray-dark-color: #333;
    --gray-light-color: #ccc;
    --gray-light-secondary-color: #86868b;
    --primary-color: #f5f5f7;
    --secondary-color: #1d1d1d;
    --white-color: #fff;
    /* li colors */
    --li-green: #394c38;
    --li-silver: #f1f2ed;
    --li-golden: #fae7cf;
    --li-grafite: #54524f;
    --li-blue: #a7c1d9;
}

*{
    margin: 0;
    padding: 0;
    font-family: Verdana;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

header nav{
    background-color: var(--gray-dark-color);
}

#navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 0.7rem;
    padding: 0 1rem;
    max-width: 1000px;
    margin: 0 auto;
}

#navbar a{
    color: var(--primary-color);
    transition: 0.4s;
}

#navbar a:hover{
    color: var(--white-color);
}

#bottom-header{
    font-size: 0.8rem;
    padding: 1rem;
    border-bottom: solid 1px var(--gray-light-color);
}

#bottom-header h3{
    font-size: 1.2rem;
}

#bottom-header a{
    color: var(--gray-dark-color);
}

#bottom-header-inner{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#bottom-header-inner a{
    margin: 0 0.5rem;
}

#bottom-header-inner .btn, .btn{
    background-color: var(--blue-color);
    border-radius: 10rem;
    padding: 0.4rem 1rem;
    color: var(--white-color);
}

#ribbon{
    text-align: center;
    padding: 1rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 0.8rem;
}

#ribbon a{
    color: var(--blue-color);
}

#main-content{
    text-align: center;
    color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#main-content #title{
    margin: 1rem;
    font-size: 1.2rem;
}

#main-content #subtitle{
    margin: 1rem;
    font-size: 4rem;
    font-weight: bold;
}

#main-content #description{
    max-width: 600px;
    margin: 1rem auto;
    font-size: 1.1rem;
    line-height: 1.5rem;
}

#main-content #price{
    font-size: 1.3rem;
    color: var(--gray-light-secondary-color);
    margin: 2rem;
}

#main-content .btn{
    font-size: 1.1rem;
    padding: 0.8rem 1.4rem;
    align-self: center;
}

#main-content #product-image{
    max-width: 1000px;
    margin: 3rem auto;
    opacity: 1;
    transition: 0.5s;
}

#main-content #product-image.changing{
    opacity: 0.5s;
}

#image-picker{
    margin-bottom: 500px;
}

#image-picker ul{
    display: flex;
    justify-content: center;
}

#image-picker li{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

#image-picker li .color{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    box-shadow: 1px 1px 1px;
    border: solid 4px var(--white-color);
    pointer-events: none;
}

#image-picker li .description{
    font-size: 0.7rem;
    color: var(--secondary-color);
    margin-top: 0.6rem;
}

#green .color{
    background-color: var(--li-green);
}

#silver .color{
    background-color: var(--li-silver);
}

#golden .color{
    background-color: var(--li-golden);
}

#grafite .color{
    background-color: var(--li-grafite);
}

#blue .color{
    background-color: var(--li-blue);
}

.selected{
    outline: solid 2px var(--blue-outline);
}

@media(max-width: 480px){
    #navbar li{
        display: none;
    }

    #navbar #logo{
        display: flex;
    }

    #bottom-header-links a{
        display: none;
    }

    #bottom-header-links .btn{
        display: flex;
    }

    #main-content{
        padding: 2rem;
        overflow: hidden;
    }

    #main-content #subtitle{
        font-size: 3rem;
    }
}
