/* Comentários em css */
h4{
    font-family: sans-serif;
    color: darkturquoise;
    background-color: darkslateblue;
    text-transform: uppercase;
    text-decoration: underline;
    padding: 10px;
}