:root{
    --bg-form-color: #fdfdfd;
    --bg-html-color: linear-gradient(180deg, #ea03ff 0%, #0097ff 100%);
    --bg-layer-color: rgba(25, 11, 122, 0.7);
    --blue-color: #0099ff;
    --gray-light-color: #ddd;
    --gray-light-secondary-color: #ccc;
    --green-color: #81d340;
    --primary-color: #333;
    --secondary-color: #aaa;
    --shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    --white-color: #fff;
}

*{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--primary-color);
}

html, body{
    height: auto;
    min-height: 100vh;
}

html{
    background: var(--bg-html-color);
}

input:focus{
    outline: none;
}

#register-container{
    max-width: 900px;
    min-height: 80vh;
    margin: 2rem auto;
    display: flex;
    box-shadow: var(--shadow);
}

#register-banner{
    background: url("../img/bg-form.jpg");
    background-size: cover;
    background-position: center;
    width: 50%;
}

#banner-layer{
    background-color: var(--bg-layer-color);
    height: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
}

#register-banner h1{
    font-size: 4rem;
    margin-bottom: 1.5rem;
    color: var(--white-color);
    word-spacing: 50rem;
}

#register-form{
    background-color: var(--bg-form-color);
    padding: 2rem;
    width: 50%;
    display: flex;
    flex-direction: column;
}

#register-form h2{
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2.2rem;
}

#register-form p{
    text-align: center;
    margin-bottom: 1.5rem;
    color: var(--secondary-color);
    font-size: 0.8rem;
}

.form-control{
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.form-control label{
    font-weight: bold;
    margin-bottom: 0.6rem;
}

.form-control input{
    border: none;
    border-bottom: solid 1px var(--secondary-color);
    padding: 0.6rem;
}

#open-generate-password{
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s;
}

#open-generate-password:hover{
    color: var(--blue-color);
}

#register-form #generated-password{
    border: solid 1px var(--blue-color);
    border-radius: 4px;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0.4rem;
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 1rem;
    display: none;
}

#register-form #generated-password p{
    color: var(--green-color);
    margin-bottom: 0.5rem;
}

#register-form input[type="submit"], #generate-options button, #copy-password{
    background-color: var(--green-color);
    color: var(--white-color);
    opacity: 0.8;
    border: none;
    border-radius: 2rem;
    padding: 1rem 1.4rem;
    max-width: 150px;
    align-self: flex-end;
    transition: 0.4s;
    cursor: pointer;
}

#register-form input[type="submit"]:hover{
    opacity: 1;
}

#generate-options{
    margin-bottom: 1rem;
    padding: 1rem;
    border: solid 1px var(--gray-light-color);
}

#generate-options .form-control{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#generate-options label{
    font-size: 0.8rem;
}

#generate-options input[type="text"]{
    max-width: 35px;
    text-align: center;
    border: solid 1px var(--gray-light-secondary-color);
}

#generate-options button{
    background-color: var(--blue-color);
    display: block;
    margin: 0 auto;
}

#copy-password{
    margin: 1rem auto;
    background-color: transparent;
    border: solid 2px var(--green-color);
    color: var(--green-color);
    padding: 0.5rem 1rem;
}

.hide{
    display: none;
}
